.star-rating::before {
    content: "⭐⭐⭐⭐⭐";
  }
  
  .star-rating {
      display: inline-block;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.1);
  }
  
  body {
    font-size: 32px; /* for demo purpose */
  }

