a  {
  text-decoration: none;
}


#cards-container {
  color: #00497c ;
  padding: 20px;
  border-radius: 15px;
  border-color: #dae2e7;
}

#cards {
  width : 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  font-size: smaller;
  padding: 10px;
}

#specialty {
  color: #0074c7;
}

#star {
  color: #0074c7 ;
}


#location-icon {
  font-size: medium;
}