<a [routerLink]="['/details', artisan().id]">
<div>
    <h2 class="listing-heading">
        <div class="card" id=cards-container >
            
            <div class="card-body" id="cards">
                <h3 class="card-title" id="title">{{ artisan().name }}</h3>
                <div class="note"> {{artisan().note}} <i class="bi bi-star-fill" id="star"></i></div>
                <p class="h5" id="specialty">{{ artisan().specialty }}</p>
                <p class="h5" id="location"><i class="bi bi-geo-alt-fill" id="location-icon"></i>{{ artisan().location }}</p>
            </div>
        </div>


    </h2>
</div>

