<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a routerLink="">
        <img class="logo "src="./Logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto" style="padding-right: 20px;">
                <li class="nav-item">
                   <a routerLink="/list" class="nav-link" href="javascript:void(0)">Bâtiment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list" href="javascript:void(0)">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list" href="javascript:void(0)">Frabrication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list" href="javascript:void(0)">Alimentation</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Recherche">
                <button class="btn btn-" style="background-color: #0074c7;"type="button">Search</button>
            </form>
        </div>
    </div>
</nav>
