.logo {
    width: 250px;
    padding-right: 20px;
}
@media (max-width: 765px) { 
    .logo {
        width: 150px;
    }
}

.navbar {
    padding: 20px;
    background-color: #f1f8fc;
}

.nav-link {
    color: #0074c7;
}