.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

}

img {
    width: 550px;
}

h2 {
    color: #0074c7;
    font-size: 3em
}

@media (max-width: 979px) { 
    img {
        width: 350px;
    }
    h2 {
        font-size: 2em
    }
}

@media (max-width: 480px) { 
    img {
        width: 200px;
    }
    .container {
        margin-bottom: 50px;
    }
    h2 {
        font-size: 1em
    }
}