<main>

    <div class="home">

        <div class="home-title" >
            <h1>Trouvez votre artisan</h1>
            <h2>Avec la région Auvergne-Rhône-Alpes</h2>
        </div>

        <section class="home-find-artisan">

            <div class="home-find-artisan_title">
                <div class="color-dash"></div>
                <h3>Comment trouver mon artisan ?</h3>
            </div>
            <div class="home-find-artisan_steps">
                <p>1. Choisissez la catégorie d'artisanat désirée dans le menu</p>
                <p>2. Choisissez un artisan en cliquant sur sa fiche</p>
                <p>3. Contactez le via le formulaire de contact présent sur la fiche</p>
                <p>4. Obtenez une réponse sous 48h</p>
            </div>
            
        </section>

        <section class="home-month-artisan">

            <div class="home-month-artisan_title">
                <div class="color-dash"></div>
                <h3>Nos artisans du mois</h3>
            </div>

        </section>

    </div>

</main>
